{% extends 'base.html' %}
{% load form_filters %}
{% block title %} Reset Your Password {% endblock %}
{% block content %}
    <h1 class="text-lg mb-4">Reset Your Password</h1>
    <p class="mb-2">Enter the email you used during registration</p>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <p class="font-bold">Email Address:</p>
            <p>{{ form.email|add_class:'py-0.5 w-1/2 rounded outline-0 ring-0 border border-gray-800 focus:border-gray-800 focus:outiline-0 focus:ring-0' }}</p>
        </div>
        <p>
            <input class="font-bold text-white px-4 py-1 rounded  text-lg bg-red-500 hover:cursor-pointer hover:bg-red-700"
                   type="submit" value="Reset"/>
        </p>
    </form>
    


{% endblock %}