{% extends 'base.html' %}
{% block title %}
    password reset confirm
{% endblock %}
{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="Change Your Password"/>
            </p>
        </form>
    {% else %}
        <p>The password reset link is invalid. possibly because it has been used, please request a new link</p>
    {% endif %}

{% endblock %}