{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MyClub | {% block title %} {% endblock %}</title>
    {% tailwind_css %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">
<div class="bg-white">
    <nav class="max-w-7xl mx-auto">
        <div class="flex justify-between py-4">

            <div class="flex gap-8 align-center">
                <a class="font-bold font-black text-lg hover:text-red-500 active:text-red-500"
                   href="{% url 'events:index' %}">Home</a>


                <a class="font-bold font-black text-lg hover:text-red-500" href="{% url 'contact_us' %}">Contact Us
                    events</a>
            </div>
            <div class="flex gap-8 align-center">
                {% if request.user.is_authenticated %}

                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        {{ form.asp }}
                        <p>
                            <input class="font-bold  text-lg text-red-500 hover:cursor-pointer hover:text-black"
                                   type="submit"
                                   value="Logout">
                        </p>
                    </form>


                {% else %}

                    <a class="font-bold  text-lg text-red-500 hover:cursor-pointer hover:text-black"
                       href="{% url 'login' %}">Login</a>


                    <a class="font-bold  text-lg text-red-500 hover:cursor-pointer hover:text-black"
                       href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>
        </div>

    </nav>
</div>


<div class="max-w-6xl mx-auto px-4">
    <div class="">
        <div class="mt-10">
            {% if request.user.is_authenticated %}
                <h1 class="text-4xl text-red-500 font-bold mb-10 border-b-4 border-stone-400 pb-3 ">
                    Welcome, {{ request.user.username }}</h1>
            {% else %}
                <h1 class="text-md mb-4 text-black-500 font-bold py-3 ">You are not logged in, please <small><a
                        class="text-red-500" href="{% url 'login' %}">Login</a></small> OR <small><a
                        class="text-red-500"
                        href="{% url 'accounts:register' %}">Register</a></small>
                </h1>
            {% endif %}
        </div>
        <div>
        </div>
        {% block content %}

        {% endblock %}
        <div>

        </div>

    </div>
    {% block domready %}
    {% endblock %}
</body>

</html>