{% extends 'base.html' %}
{% load events_tags %}
{% block title %} Events {% endblock %}
{% block content %}
    <ul>
        {% for event in events %}
            <li>
                <a href="{{ event.get_absolute_url }}"> {{ event.event_name }}</a>
            </li>
        {% endfor %}

    </ul>
    <div>

        {% if events.has_previous %}

            <a href="?page={{ events.previous_page_number }}">Previous</a> |
        {% endif %}

        Page {{ events.number }} of {{ events.paginator.num_pages }} |
        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">Next</a>

        {% endif %}


    </div>
    <div>
        {% for i in '12345' %}
            <p style="color: {% cycle 'blue' 'brown' 'red' 'cyan' %};"> Colore text </p>
        {% endfor %}

    </div>
    <h2>Filter</h2>
    {% filter striptags|upper %}
        <p>this will be converted to upper case and all the HTML tags removed</p>

    {% endfilter %}
    {% lorem 5 %}
    <p>{{ 'Davis'|reverse }}</p>
    <p>{% create_date %}</p>
    {% all_users %}
    {{ name }} | {{ something }}
{% endblock %}